.error-msg{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #F37171;
    border-radius: 5px;
    color: white;
}
.generator-card{
    width: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.card-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.generator-category{
    padding-left: 2em;
}
.generator-category > span{
    font-size: 16pt;
}
#pwd-type-select{
    text-align: center;
    font-size: 14pt;
}
.generator-header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#generator-label{
    width: 25em;
}
#generator-length{
    width: 7em;
}
.spacer{
    width: 1em;
}
#website-input{
    width: 35em;
}
.generator-subheader{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.generator-pwd-label{
    width: 30em;
}
#generate-btn{
    height: 4.9em;
    width: 12em;
}
#entropy-btn{
    height: 4.9em;
    width: 12em;
}
.pwd-details{
    display: flex;
    flex-direction: row;
}
#pwd-detail{
    font-weight: 600;
}
.pwd-notification-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 4em;
}
#pwd-interval{
    width: 7em;
    text-align: center;
}
.generator-save-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#save-btn{
    width: 10em;
    height: 3em;
}
#refresh-input{
    width: 5em;
    text-align: center;
}