<mat-card class='generator-card'>
    <mat-card-header>
        <div class='card-header-container'>
            <div class='card-header'>
                <mat-icon mat-card-avatar>vpn_key</mat-icon>
            </div>
            <div class='card-subheader'>
                <mat-card-title>Generator</mat-card-title>
                <mat-card-subtitle>generate a new password</mat-card-subtitle>
            </div>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div *ngIf='error' class='error-msg'>
        <mat-icon>cancel</mat-icon>
        <div style='width: 0.5em'></div>
        <span>{{errorMsg}}</span>
    </div>
    <div class='generator-container'>
        <div id='special-vertical'></div>
        <div class='generator-category'>
            <span>Password Type: </span>
            <mat-form-field id='pwd-type-select'>
                <mat-label>Category</mat-label>
                <mat-select [(value)]='category' required>
                    <mat-option *ngFor='let t of pwdTypes' [value]='t'>{{t}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class='generator-header'>
            <mat-form-field appearance='outline' id='generator-label'>
                <mat-label>Label</mat-label>
                <input type="text" matInput [(ngModel)]='label' placeholder="Website Name (Google, YouTube, Gmail, ...)" required>
            </mat-form-field>
            <div class='spacer'></div>
            <mat-form-field appearance='outline' id='generator-length'>
                <mat-label>Length</mat-label>
                <mat-select [(value)]='length' required>
                    <mat-option *ngFor='let l of lengths' [value]='l'>{{l}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class='spacer'></div>
            <mat-checkbox [(ngModel)]='Alpha'>Alphabetical (A-Z)</mat-checkbox>
            <div class='spacer'></div>
            <mat-checkbox [(ngModel)]='Numerical'>Numerical (0-9)</mat-checkbox>
            <div class='spacer'></div>
            <mat-checkbox [(ngModel)]='Special'>Special Characters (!,@,#,$)</mat-checkbox>
        </div>
        <div id='special-vertical'></div>
        <div class='link-container'>
            <mat-form-field appearance='outline' id='website-input'>
                <mat-label>Website</mat-label>
                <input type="text" matInput [(ngModel)]='link' placeholder="https://www.google.com/">
            </mat-form-field>
        </div>
        <div class='generator-subheader'>
            <mat-form-field appearance='outline' class='generator-pwd-label'>
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]='user' required>
            </mat-form-field>
            <div class='spacer'></div>
            <mat-form-field appearance='outline' class='generator-pwd-label'>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]='pwd' required>
            </mat-form-field>
            <div class='spacer'></div>
            <div class='btn-row'>
                <button mat-flat-button color='primary' id='generate-btn' *ngIf='length === undefined || (Alpha === false && Numerical === false && Special === false); else showGenerate' disabled>GENERATE</button>
                <ng-template #showGenerate>
                    <button mat-flat-button color='primary' id='generate-btn' (click)='generatePassword()'>GENERATE</button>
                </ng-template>
                <div class='spacer'></div>
                <div id='special-vertical'></div>
                <button mat-flat-button color='accent' id='entropy-btn' *ngIf='pwd.length === 0; else showEntropy' disabled>CHECK PASSWORD</button>
                <ng-template #showEntropy>
                    <button mat-flat-button color='accent' id='entropy-btn' (click)='calculateEntropy()'>CHECK PASSWORD</button>
                </ng-template>
            </div>
            <div class='vertical-spacer'></div>
        </div>
        <div class='pwd-details'>
            <div class='pwd-details-date'>
                <span>Date Created: </span>
                <span id='pwd-detail'>{{today}}</span>
            </div>
            <div class='spacer'></div>
            <div id='special-vertical'></div>
            <div class='pwd-details-strength'>
                <span>Password Strength: </span>
                <span id='pwd-detail' *ngIf='pwd.length !== 0; else defaultEntropy'>{{strength}}</span>
                <ng-template #defaultEntropy>
                    <span id='pwd-detail'>N/A</span>
                </ng-template>
            </div>
        </div>
        <div class='pwd-notification-container'>
            <div class='pwd-notification'>
                <span>Notifications:</span>
                <button mat-icon-button matTooltip='Mute Notifications' *ngIf='notify; else showBell' [matTooltipPosition]="'above'" (click)='toggleNotify()'>
                    <mat-icon>notifications_off</mat-icon>
                </button>
                <ng-template #showBell>
                    <button mat-icon-button matTooltip='Turn Notifications On' [matTooltipPosition]="'above'" (click)='toggleNotify()'>
                        <mat-icon>notifications_active</mat-icon>
                    </button>
                </ng-template>
            </div>
        </div>
        <div>
            <div class='refresh-toggle'>
                <span>Automatic Refresh: </span>
                <mat-slide-toggle [(ngModel)]='refresh'>{{Refresh}}</mat-slide-toggle>
            </div>
            <div class='refresh-content'>
                <span>Refresh Interval: </span>
                <div class='refresh-content-interval'>
                    <mat-form-field id='refresh-input'>
                        <input type="number" matInput [(ngModel)]='interval' required>
                    </mat-form-field>
                    <span>days</span>
                </div>
            </div>
        </div>
        <div class='generator-save-row'>
            <button mat-flat-button color='accent' id='save-btn' (click)='save()' *ngIf='valid(); else disable'>SAVE</button>
            <ng-template #disable>
                <button mat-flat-button color='accent' id='save-btn' disabled>SAVE</button>
            </ng-template>
        </div>
    </div>   
</mat-card>
