#main-header{
    font-size: 20pt;
}
.vertical-spacer{
    height: 1em;
}
#account-select{
    width: 7em;
}
#account-input{
    width: 30em;
}
.pwd-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.spacer{
    width: 1em;
}
.pwd-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.pwd-details{
    display: flex;
    flex-direction: row;
}
#pwd-detail{
    font-weight: 600;
}
.pwd-notification-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 4em;
}
#pwd-interval{
    width: 7em;
    text-align: center;
}
#generate-btn{
    width: 12em;
}
#entropy-btn{
    width: 12em;
}
.pwd-btn-row{
    display: flex;
    flex-direction: row;
}