.login-card{
    width: 25em;
    height: 32em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-card-header{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.spacer{
    height: 3em;
}
#login-card-title{
    font-size: 20pt;
}
#login-card-subtitle{
    font-size: 16pt;
}
.login-content{
    display: flex;
    flex-direction: column;
}
.button-row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-row-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.login-link{
    color: blue;
    cursor: pointer;
}
.error-msg{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #F37171;
    border-radius: 5px;
    color: white;
}