.unlock-header-container{
    display: flex;
    flex-direction: column;
}
#unlock-header{
    font-size: 20pt;
}
#unlock-subheader{
    font-size: 12pt;
    font-weight: 200;
}
.spacer{
    height: 1em;
}
.pwd-input{
    margin-top: 1em;
    width: 100%;
}
.btn-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.error-msg{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #F37171;
    border-radius: 5px;
    color: white;
}