<mat-toolbar class='app-toolbar' color="primary">
    <div class='toolbar-menu'>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span id='title'>Vault</span>
    </div>
    <div class='toolbar-action-buttons'>
        <button mat-icon-button *ngIf='notifications.length + rnotifications.length > 0 && u.loggedIn(); else hideBadge' [matMenuTriggerFor]='notifyMenu'>
            <mat-icon matBadge={{rnotifications.length+notifications.length}} matBadgeColor='warn'>notifications</mat-icon>
        </button>
        <ng-template #hideBadge>
            <button mat-icon-button [matMenuTriggerFor]='notifyMenu' *ngIf='u.loggedIn()'>
                <mat-icon>notifications</mat-icon>
            </button>
        </ng-template>
        <button mat-icon-button [matMenuTriggerFor]='userMenu' *ngIf='u.loggedIn(); else basicMenu'>
            <mat-icon>account_circle</mat-icon>
        </button>
        <ng-template #basicMenu>
            <button mat-icon-button [matMenuTriggerFor]='basic'>
                <mat-icon>account_circle</mat-icon>
            </button>
        </ng-template>
    </div>
</mat-toolbar>
<mat-menu #userMenu='matMenu'>
    <button mat-menu-item (click)='redirectToSettings()'>Account Settings</button>
    <button mat-menu-item (click)='logout()'>Log out</button>
</mat-menu>
<mat-menu #basic='matMenu'>
    <button mat-menu-item (click)='redirectToLogin()'>Sign In</button>
    <button mat-menu-item (click)='redirectToRegister()'>Register</button>
</mat-menu>
<mat-menu #notifyMenu='matMenu'>
    <div class='notify-menu-header'>
        <span>Notifications</span>
        <button mat-icon-button (click)='clearAllNotifications($event)'>
            <mat-icon>clear_all</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class='notify-menu-content'>
        <div *ngIf='notifications.length === 0 && rnotifications.length === 0' class='notify-menu-empty' (click)='$event.stopPropagation();'>
            <span class='notify-menu-empty-text'>No New Notifications</span>
        </div>
        <div class='notify-menu-item' *ngFor='let a of rnotifications' (click)='$event.stopPropagation();'>
            <mat-icon class='notify-menu-icon'>announcement</mat-icon>
            <div class='spacer'></div>
            <div class='spacer'></div>
            <div class='notify-menu-text'>
                <span>{{a.account.user | uppercase}} for {{a.password.label | uppercase}} has automatically refreshed.</span>
                <span>Make sure your accounts match the new password.</span>
            </div>
            <div style='flex: 1 1 auto'></div>
            <div class='notify-menu-btn'>
                <button mat-stroked-button color='primary' (click)='closeNotification(a, 1, $event)'>Clear</button>
            </div>
        </div>
        <div class='notify-menu-item' *ngFor='let n of notifications' (click)='$event.stopPropagation();'>
            <mat-icon class='notify-menu-icon'>warning</mat-icon>
            <div class='spacer'></div>
            <div class='spacer'></div>
            <div class='notify-menu-text'>
                <span>{{n.account.user | uppercase}} for {{n.password.label | uppercase}} has an expired password.</span>
                <span>A password refresh is suggested.</span>
            </div>
            <div class='spacer'></div>
            <div style='flex: 1 1 auto'></div>
            <div class='notify-menu-btn'>
                <button mat-stroked-button color='warn' (click)='ignore(n, $event)'>Ignore</button>
                <button mat-stroked-button color='primary' (click)='refresh(n, $event)'>Refresh</button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class='vertical-spacer'></div>
</mat-menu>
<mat-drawer-container class='main-container'>
    <mat-drawer #drawer mode="over" class='sidenav'>
        <div class='sidenav-content'>
            <div class='sidenav-buttons'>
                <button mat-button (click)='redirectToHome()'>Safe</button>
                <button mat-button (click)='redirectToGenerator()'>Generator</button>
            </div>
            <div class='footer'>
                Designed by Andrew Ngo &copy; 2020
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class='container-content'>
        <div *ngIf='loading'>
            <mat-progress-bar mode='indeterminate' color='warn'></mat-progress-bar>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>