<mat-toolbar class='app-toolbar'>
    <div class='toolbar-menu'>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span id='title'>Vault</span>
    </div>
    <div class='toolbar-action-buttons'>
        <button mat-icon-button *ngIf='badgeVisibility; else hideBadge'>
            <mat-icon matBadge={{notifications}} matBadgeColor='warn'>notifications</mat-icon>
        </button>
        <ng-template #hideBadge>
            <button mat-icon-button>
                <mat-icon>notifications_off</mat-icon>
            </button>
        </ng-template>
        <button mat-icon-button [matMenuTriggerFor]='userMenu'>
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-menu #userMenu='matMenu'>
    <button mat-menu-item>Account Settings</button>
    <button mat-menu-item (click)='redirectToLogin()'>Log out</button>
</mat-menu>
<mat-drawer-container class='main-container'>
    <mat-drawer #drawer mode="side" class='sidenav'>
        <div class='sidenav-content'>
            <div class='sidenav-buttons'>
                <button mat-button (click)='redirectToHome()'>Safe</button>
                <button mat-button (click)='redirectToGenerator()'>Generator</button>
            </div>
            <div class='footer'>
                Designed by Andrew Ngo &copy; 2020
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class='container-content'>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

