::ng-deep.mat-menu-panel {
    max-width: none !important;
}
#title{
    cursor: pointer;
}
.app-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toolbar-action-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.toolbar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-container{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
.sidenav{
    width: 15em;
}
.sidenav-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
.sidenav-buttons{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}
.footer{
    padding: 1em;
}
.notify-menu-header{
    width: 40em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
}
.notify-menu-content{
    display: flex;
    flex-direction: column;
    min-height: 8em;
    max-height: 30em;
    overflow-y: auto;
    max-width: 40em;
    -ms-overflow-style: none; 
     scrollbar-width: none;
}
.notify-menu-content::-webkit-scrollbar {
    display: none;
}
.notify-menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 8em;
    padding-left: 1em;
}
.notify-menu-icon{
    font-size: 26pt;
}
.notify-menu-text{
    display: flex;
    flex-direction: column;
    max-width: 25em;
    word-wrap: break-word;
}
.notify-menu-empty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 8em;
}
.notify-menu-btn{
    display: flex;
    flex-direction: column-reverse;
    width: 5em;
}
.spacer{
    width: 1em;
}
.vertical-spacer{
    height: 0.5em;
}

@media(max-width: 744px){
    .notify-menu-content{
        max-width: 30em;
    }
    .notify-menu-header{
        width: 30em;
    }
}
@media(max-width: 584px){
    .notify-menu-content{
        max-width: 20em;
    }
    .notify-menu-header{
        width: 20em;
    }
    .notify-menu-icon{
        font-size: 20pt;
    }
    .notify-menu-text{
        font-size: 12pt;
        max-width: 10em;
    }
}
@media(max-width: 408px){
    .notify-menu-item{
        flex-direction: column;
    }
    .notify-menu-text{
        font-size: 12pt;
        max-width: 100%;
    }
    .notify-menu-btn{
        width: 100%;
        margin-top: 0.5em;
    }
    .notify-menu-icon{
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    .notify-menu-content{
        max-width: 15em;
    }
    .notify-menu-header{
        width: 15em;
    }
}
@media(max-width: 326px){
    .notify-menu-content{
        max-width: 10em;
    }
    .notify-menu-header{
        width: 10em;
    }
}