<mat-toolbar class='app-toolbar'>
    <div class='toolbar-menu'>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span id='title'>Vault</span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]='userMenu'>
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<mat-menu #userMenu='matMenu'>
    <button mat-menu-item>Account Settings</button>
    <button mat-menu-item>Log out</button>
</mat-menu>
<mat-drawer-container class='main-container'>
    <mat-drawer #drawer mode="side" class='sidenav'>
        <div class='sidenav-content'>
            <div class='sidenav-buttons'>
                <button mat-button>Safe</button>
                <button mat-button>Generator</button>
                <button mat-button>History</button>
            </div>
            <div class='footer'>
                Designed by Andrew Ngo &copy; 2020
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class='container-content'>
        <app-login></app-login>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

