
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Vault-primary: mat-palette($mat-blue-gray, 900);
$Vault-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Vault-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Vault-theme: mat-light-theme($Vault-primary, $Vault-accent, $Vault-warn);
$custom-background-color: #EFF1F5;

$background: map-get($Vault-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$Vault-theme: map_merge($Vault-theme, (background: $background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Vault-theme);

