.searchbar-container{
    padding-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#searchbar{
    width: 25em;    
}
#searchbar-button{
    height: 4.3em;
    width: 5em;
}
.safe-container{
    display: flex;
    flex-direction: column;
}
.pwd-category-header{
    font-size: 18pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10em;
    padding-bottom: 1em;
}
.pwd-list-container{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}
.pwd-list{
    width: 75%;
}
.pwd-container{
    display: flex;
    flex-direction: column;
}
.pwd-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pwd-header-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pwd-subheader-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pwd-subheader{
    font-size: 16pt;
    padding: 1em;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#pwd-url{
    font-size: 15pt;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
.pwd-content-container{
    padding: 2em;
}
.pwd-content{
    width: 18em;
}
.list-content{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.list-content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.small-spacer{
    width: 2em;
}
.smaller-spacer{
    width: 0.25em;
}
.vertical-spacer{
    height: 5em;
}
.list-content-primary{
    display: flex;
    flex-direction: row;
}
.empty-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
}
.empty-card{
    text-align: center;
    width: 35em;
}
@media(max-width: 1580px){
    .pwd-category-header{
        padding-left: 5em;
    }
}
@media(max-width: 1200px){
    .pwd-list{
        width: 85%;
    }
}
@media(max-width: 950px){
    .pwd-category-header{
        justify-content: center;
        padding-left: 0em;
    }
    .list-content{
        flex-direction: column;
        align-items: center;
    }
    .list-content-header{
       flex-direction: column;
    }
    .list-content-btn-row{
        margin-bottom: 2em;
    }
}
@media(max-width: 500px){
    .pwd-subheader-container{
        flex-direction: column;
    }
}
@media(max-width: 430px){
    .pwd-content{
        width: 90%;
    }
}
@media(max-width: 350px){
    .pwd-subheader{
        flex-direction: column;
    }
    .pwd-content{
        width: 10em;
    }
    #pwd-url{
        font-size: 10pt;
    }
}
@media(max-width: 292px){
    .pwd-subheader{
        font-size: 12pt;
    }
}