<div class='searchbar-container'>
    <mat-form-field appearance='fill' id='searchbar'>
        <mat-label>Search</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-stroked-button id='searchbar-button'>
        <mat-icon>search</mat-icon>
    </button>
</div>
<div class='safe-container'>
    <div class='safe-category-container'>
        <div class='pwd-category-header'>
            <span>Personal</span>
            <button mat-icon-button *ngIf='personalLock; else personalOpen' (click)='unlockCategory("Personal")'>
                <mat-icon>lock</mat-icon>
            </button>
            <ng-template #personalOpen>
                <button mat-icon-button (click)='toggleCategory("Personal")'>
                    <mat-icon>lock_open</mat-icon>
                </button>
            </ng-template>
        </div>
        <div class='pwd-list-container'>
            <div class='pwd-list'>
                <mat-accordion>
                    <mat-expansion-panel [disabled]='personalLock'>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span>Website Title</span>
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Last Updated</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class='pwd-container'>
                            <div class='pwd-header'>
                                <button mat-icon-button>
                                    <mat-icon>public</mat-icon>
                                </button>
                                <span id='pwd-url'>Website URL Link</span>
                            </div>
                            <div class='pwd-subheader-container'>
                                <div class='pwd-subheader'>
                                    <span>Saved Accounts</span>
                                    <div class='smaller-spacer'></div>
                                    <mat-icon>vpn_key</mat-icon>
                                </div>
                                <div>
                                    <button mat-stroked-button color='primary' [disabled]='personalLock' (click)='openAccount()'>Add Account</button>
                                </div>
                            </div>
                            <div class='pwd-content-container'>
                                <div class='list-content'>
                                    <div class='list-content-header'>
                                        <mat-form-field class='pwd-content'>
                                            <mat-label>Username</mat-label>
                                            <input type="text" matInput readonly>
                                        </mat-form-field>
                                        <div class='small-spacer'></div>
                                        <div class='list-content-primary'>
                                            <mat-form-field class='pwd-content' *ngIf='!showPwd; else notShow'>
                                                <mat-label>Password</mat-label>
                                                <input matInput readonly value={{pwd}} type='password'>
                                                <mat-icon matSuffix (click)='toggleShow()'>visibility</mat-icon>
                                            </mat-form-field>
                                            <ng-template #notShow>
                                                <mat-form-field class='pwd-content'>
                                                    <mat-label>Password</mat-label>
                                                    <input type="text" matInput readonly value={{pwd}}>
                                                    <mat-icon matSuffix (click)='toggleShow()'> visibility_off</mat-icon>
                                                </mat-form-field>
                                            </ng-template>
                                            <button mat-icon-button matTooltip='Copy to Clipboard' [matTooltipPosition]="'right'" (click)='copyToClipboard()'>
                                                <mat-icon>content_copy</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <button mat-icon-button matTooltip='More Information' [matTooltipPosition]="'left'" (click)='openDetailed()' [disabled]='personalLock'>
                                            <mat-icon>info</mat-icon>
                                        </button>
                                        <button mat-icon-button matTooltip='Remove Saved Account' [matTooltipPosition]="'above'" [disabled]='personalLock'>
                                            <mat-icon>remove_circle_outline</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div class='safe-category-container'>
        <div class='pwd-category-header'>
            <span>Secret</span>
            <button mat-icon-button *ngIf='secretLock; else secretOpen' (click)='unlockCategory("Secret")'>
                <mat-icon>lock</mat-icon>
            </button>
            <ng-template #secretOpen>
                <button mat-icon-button (click)='toggleCategory("Secret")'>
                    <mat-icon>lock_open</mat-icon>
                </button>
            </ng-template>
        </div>
        <div class='pwd-list-container'>
            <div class='pwd-list'>
                <mat-accordion >
                    <mat-expansion-panel [disabled]='secretLock'>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span>Website Title</span>
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Last Updated</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class='pwd-container'>
                            <div class='pwd-header'>
                                <button mat-icon-button>
                                    <mat-icon>public</mat-icon>
                                </button>
                                <span id='pwd-url'>Website URL Link</span>
                            </div>
                            <div class='pwd-subheader-container'>
                                <div class='pwd-subheader'>
                                    <span>Saved Accounts</span>
                                    <div class='smaller-spacer'></div>
                                    <mat-icon>vpn_key</mat-icon>
                                </div>
                                <div>
                                    <button mat-stroked-button color='primary' [disabled]='secretLock' (click)='openAccount()'>Add Account</button>
                                </div>
                            </div>
                            <div class='pwd-content-container'>
                                <div class='list-content'>
                                    <div class='list-content-header'>
                                        <mat-form-field class='pwd-content'>
                                            <mat-label>Username</mat-label>
                                            <input type="text" matInput readonly>
                                        </mat-form-field>
                                        <div class='small-spacer'></div>
                                        <div class='list-content-primary'>
                                            <mat-form-field class='pwd-content'>
                                                <mat-label>Password</mat-label>
                                                <input matInput readonly>
                                                <mat-icon *ngIf='showPwd; else notShow' matSuffix>visibility</mat-icon>
                                                <ng-template #notShow1>
                                                    <mat-icon matSuffix>visibility_off</mat-icon>
                                                </ng-template>
                                            </mat-form-field>
                                            <button mat-icon-button matTooltip='Copy to Clipboard' [matTooltipPosition]="'right'">
                                                <mat-icon>content_copy</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <button mat-icon-button matTooltip='More Information' [matTooltipPosition]="'left'" [disabled]='secretLock'>
                                            <mat-icon>info</mat-icon>
                                        </button>
                                        <button mat-icon-button matTooltip='Remove Saved Account' [matTooltipPosition]="'above'" [disabled]='secretLock'>
                                            <mat-icon>remove_circle_outline</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div class='safe-category-container'>
        <div class='pwd-category-header'>
            <span>Other</span>
            <button mat-icon-button *ngIf='otherLock; else otherOpen' (click)='unlockCategory("Other")'>
                <mat-icon>lock</mat-icon>
            </button>
            <ng-template #otherOpen>
                <button mat-icon-button (click)='toggleCategory("Other")'>
                    <mat-icon>lock_open</mat-icon>
                </button>
            </ng-template>
        </div>
        <div class='pwd-list-container'>
            <div class='pwd-list'>
                <mat-accordion >
                    <mat-expansion-panel [disabled]='otherLock'>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span>Website Title</span>
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Last Updated</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class='pwd-container'>
                            <div class='pwd-header'>
                                <button mat-icon-button>
                                    <mat-icon>public</mat-icon>
                                </button>
                                <span id='pwd-url'>Website URL Link</span>
                            </div>
                            <div class='pwd-subheader-container'>
                                <div class='pwd-subheader'>
                                    <span>Saved Accounts</span>
                                    <div class='smaller-spacer'></div>
                                    <mat-icon>vpn_key</mat-icon>
                                </div>
                                <div>
                                    <button mat-stroked-button color='primary' [disabled]='otherLock' (click)='openAccount()'>Add Account</button>
                                </div>
                            </div>
                            <div class='pwd-content-container'>
                                <div class='list-content'>
                                    <div class='list-content-header'>
                                        <mat-form-field class='pwd-content'>
                                            <mat-label>Username</mat-label>
                                            <input type="text" matInput readonly>
                                        </mat-form-field>
                                        <div class='small-spacer'></div>
                                        <div class='list-content-primary'>
                                            <mat-form-field class='pwd-content'>
                                                <mat-label>Password</mat-label>
                                                <input matInput readonly>
                                                <mat-icon *ngIf='showPwd; else notShow' matSuffix>visibility</mat-icon>
                                                <ng-template #notShow2>
                                                    <mat-icon matSuffix>visibility_off</mat-icon>
                                                </ng-template>
                                            </mat-form-field>
                                            <button mat-icon-button matTooltip='Copy to Clipboard' [matTooltipPosition]="'right'">
                                                <mat-icon>content_copy</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <button mat-icon-button matTooltip='More Information' [matTooltipPosition]="'left'" [disabled]='otherLock'>
                                            <mat-icon>info</mat-icon>
                                        </button>
                                        <button mat-icon-button matTooltip='Remove Saved Account' [matTooltipPosition]="'above'" [disabled]='otherLock'>
                                            <mat-icon>remove_circle_outline</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
