.searchbar-container{
    padding-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#searchbar{
    width: 25em;    
}
#searchbar-button{
    height: 4.3em;
    width: 5em;
}
.pwd-list-container{
    display: flex;
    justify-content: center;
}
.pwd-list{
    width: 75%;
}
.pwd-container{
    display: flex;
    flex-direction: column;
}
.pwd-subheader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#pwd-url{
    font-size: 15pt;
    color: blue;
    cursor: pointer;
}
.pwd-content-container{
    padding: 2em;
}
.pwd-content{
    width: 18em;
}
.list-content{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.list-content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.small-spacer{
    width: 2em;
}
.list-content-primary{
    display: flex;
    flex-direction: row;
}