<mat-card class='register-card' [class.mat-elevation-z3]="true">
    <br>
    <mat-card-header class='register-card-header'>
        <mat-card-title id='register-card-title'>Create a New Account</mat-card-title>
        <mat-card-subtitle id='register-card-subtitle'>Enter your email and password</mat-card-subtitle>
    </mat-card-header>
    <div class='spacer'></div>
    <mat-card-content class='register-content'>
        <mat-form-field appearance='outline' class='register-email-input'>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
        </mat-form-field><br>
        <mat-form-field appearance='outline' class='register-pwd-input'>
            <mat-label>Password</mat-label>
            <input matInput type={{textAttribute}} placeholder="Password">
            <mat-icon *ngIf='show; else notShow' matSuffix (click)='toggleShow()'>visibility</mat-icon>
            <ng-template #notShow>
                <mat-icon matSuffix (click)='toggleShow()'>visibility_off</mat-icon>
            </ng-template>
        </mat-form-field><br>
        <mat-form-field appearance='outline' class='register-pwd-input'>
            <mat-label>Confirm Password</mat-label>
            <input matInput type={{textAttribute2}} placeholder="Password">
            <mat-icon *ngIf='show2; else notShow2' matSuffix (click)='toggleShow2()'>visibility</mat-icon>
            <ng-template #notShow2>
                <mat-icon matSuffix (click)='toggleShow2()'>visibility_off</mat-icon>
            </ng-template>
        </mat-form-field><br>
        <div class='button-row-1'>
            <span (click)='redirectToLogin()' class='register-link'>Already have an account?</span>
            <button mat-flat-button color='primary' (click)='redirectToLogin()'>Create Account</button>
        </div><br>
    </mat-card-content>
</mat-card>