.register-card{
    width: 25em;
    height: 32em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.register-card-header{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.spacer{
    height: 2em;
}
#register-card-title{
    font-size: 20pt;
}
#register-card-subtitle{
    font-size: 16pt;
}
.register-content{
    display: flex;
    flex-direction: column;
}
.button-row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-row-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.register-link{
    color: blue;
    cursor: pointer;
}
.error-msg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #F37171;
    border-radius: 5px;
    color: white;
}
@media(max-width: 470px){
    .register-card{
        width: 80%;
    }
}
@media(max-width: 382px){
    .button-row-1{
        flex-direction: column;
        align-items: center;
    }
    #special{
        height: 1em;
    }
}
@media(max-width: 376px){
    .register-card{
        height: 35em;
    }
}