.settings-card{
    width: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.card-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subheader{
    font-size: 18pt;
    padding-left: 1em;
    padding-bottom: 1em;
}
.notifications-content{
    padding-left: 2em;
    padding-bottom: 1em;
    font-size: 12pt;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.password-content{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-bottom: 1em;
}
.vertical-spacer{
    height: 1em;
}
#password-input{
    width: 30em;
}
#password-submit{
    width: 10em;
}
.account-content{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-bottom: 1em;
}
.account-btn{
    width: 15em;
}
.error-msg{
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #F37171;
    border-radius: 5px;
    color: white;
}

@media(max-width: 602px){
    #password-input{
        width: 25em;
    }
}
@media(max-width: 492px){
    #password-input{
        width: 20em;
    }
}
@media(max-width: 394px){
    .settings-card{
        width: 85%;
    }
    .password-content{
        padding-left: 0em;
        align-items: center;
    }
    #password-input{
        width: 100%;
    }
    .account-content{
        padding-left: 0;
        align-items: center;
    }
}
@media(max-width: 300px){
    .subheader{
        padding-left: 0;
        text-align: center;
    }
}